* {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	font-size: 1vw;
}
/*header starts*/
#header {
	background-color: #CABBB7;
	width:100%;
	height: 20vw;
}
#big {
	width:35vw;
	position: absolute;
	right: 10vw;
	top: 5vw;
}
.paulina {
	position: absolute;
	left: 13vw;
	top: 12vw;
	font-size: 1.5em;
	font-weight: lighter;
}
/*header ends*/
/*navbar starts*/
nav {
	width:100%;
	height:5em;
	background-color: #C65252;
	position: sticky;
	top: 0px;
	display: inline-block;
}
ul {
	padding-right: 10%;
}
li { 
	margin: 1.5em;
	float:right;
	list-style: none;
}
li a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 1.5em;
}
/*navbar ends*/
/*main starts*/
h1 {
	font-size: 5em;
	text-align: center;
	font-weight: bold;
	padding: 5%;
}
h3 {
	font-size: 2em;
	text-align: center;
	font-weight: lighter;
}
section {
	margin: 2em;
}
form {
	text-align: center;
	padding: 2vw;
	font-weight: bold;
}
form > input {
	width: 40vw;
	text-align: center;
	background-color: #CABBB7;
	margin: 2%;

}
textarea {
	background-color: #CABBB7;
	text-align: center;
	margin-top: 2vw;
	width: 40vw;
	height: 20vw;
}
#contact {
	width: 50vw;
	background-color: #E6E6E6;
	margin-left: 22.5vw;
	margin-right: 22.5vw;
}
article {
	width: 60vw;
	margin-left: 20%;
	margin-right: 20%;
	padding-top: 5%;
}
article > h1 {
	font-size: 3em;
	background-color: #E6E6E6;
}
article > h3 {
	font-size: 2em;
	background-color: #E6E6E6;
	margin: 2vw 0vw;
	font-weight: bold;
	padding: 5%;

}
article > img {
	width: 60vw;
	object-fit: cover;
	height: 30vw;
}
article > p {
	text-align: justify;
	padding: 5% 0%;

}
.student {
	width: 60vw;
	text-align: justify;
	padding: 2% 0%;
}
figure > img {
	width: 60vw;
	padding-top: 2%;
}
/*main ends*/
/*footer starts*/
footer {
	background-color: #CABBB7;
	width:100%;
	height: 10em;
	text-align: center;
	padding-bottom: 0.5em;
	font-weight: lighter;
}
.small {
	width: 15%;
	padding: 1em;
}
/*footer ends*/