* {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	font-size: 1vw;
}
/*header starts*/
#header {
	background-color: #CABBB7;
	width:100%;
	height: 20vw;
}
#big {
	width:35vw;
	position: absolute;
	right: 10vw;
	top: 5vw;
}
.paulina {
	position: absolute;
	left: 13vw;
	top: 10vw;
	font-size: 2em;
	font-weight: lighter;
}
/*header ends*/
/*navbar starts*/
nav{
	width:100%;
	height:5em;
	background-color: #C65252;
	position: sticky;
	top: 0px;
	display: inline-block;
}
ul{
	padding-right: 10%;
}
li { 
	margin: 1.5em;
	float:right;
	list-style: none;
}
li a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 1.5em;
}
/*navbar ends*/
/*main starts*/
h1{
	font-size: 5em;
	text-align: center;
	font-weight: bold;
	padding: 5%;
}
.first {
	margin: 0% 10%;
	width: 80%;
	height: 20em;
	text-align: center;
	object-fit: cover;
}
.description {
	text-align: center;
	font-weight: bold;
	font-size: 1.6em;
	margin-bottom:1.5em;
	font-weight: bold;
}
.container1{
	width:40%;
	display:inline-block;
	text-align:center;
}
.container1 >img {
	width: 90%;
	height: 20em;
}
#left{
	padding-left: 8em;
}
#right {
	padding-left: 3em;
}
/*main ends*/
/*footer starts*/
footer {
	background-color: #CABBB7;
	width:100%;
	height: 10vw;
	text-align: center;
	font-weight: lighter;
}
.small {
	width: 15%;
	padding: 1em;
}
/*footer ends*/
